body {font-size:100%;color:#000;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
.minibody {
    font-size:80%;
    color:#000;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, h2{
  font-family: 'Cuprum', arial, serif;
  font-weight: bolder;
  letter-spacing: -1px;
}
#header{
    font-family: 'Cuprum', arial, serif;
    letter-spacing:1px;
}