body {font-size:100%;color:#000;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
.minibody {
    font-size:80%;
    color:#000;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, h2{
  font-family: 'Cuprum', arial, serif;
  font-weight: bolder;
  letter-spacing: -1px;
}
#header{
    font-family: 'Cuprum', arial, serif;
    letter-spacing:1px;
}
.box {
    background:#ddd;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#photo{
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#twittericon{
  padding:2px 2px 2px 20px;
  margin:-2px 0;
  background-repeat: no-repeat;
  background-position: left center;
}
#content a{
  background:transparent none !important;
  padding:0 !important;
  margin:0 !important;
}