<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
    <script> 
      hljs.tabReplace = '    ';
      hljs.initHighlightingOnLoad();
    </script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cuprum:regular" type="text/css">
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"/>
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"/>
    <![endif]-->    
    <!-- Import fancy-type plugin and link-icons plugin. -->  
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/plugins/link-icons/screen.css" type="text/css" media="screen, projection">  
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen, projection">  


    <link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/sunburst.min.css" type="text/css">    
    
    <title>{{ page.title }}</title>
    </head>
  <body>
    <div id="wrapper" class="container">
      <div id="header" class="span-24 last">
        <h1 class="prepend-top strong">Aashay's Nerdery</h1>
      </div>
      <hr />
        <div id="" class="span-24 last">
          <h4 class="alt">
            <a href="/index.html" title="Home">Home</a> &bull; 
            <a href="/archive.html" title="Archive">Archive</a> &bull;
            <a href="/about.html" title="About">About</a>            
          </h4>          
        </div>
      <hr />
      
      <div id="page_body" class="span-16">
          <div id="content">
            {{ content }}
          </div>
      </div>
      <div class="span-8 last">           
            <div class="box clearfix clear minibody">
              <div id="bio" class="">
                <h4 class="">Hi.</h4>
                <div style="float: left; margin-right:10px;" class=""><img id="photo"  src="http://0.gravatar.com/avatar/01278ac89e43f26f2617b679830a544a" alt="Aashay Desai"/></div>
                My name is Aashay Desai and this is where I write about nerding out. <a href="/about.html">Read more »</a>  
              </div><p></p><br/>
              <div id="social" class="">
              <a href="http://twitter.com/aashay" title="Follow @Aashay" class="noicon">
                <img src="/images/twitter_small_icon.png" alt="Follow @Aashay" width="16px" height="16px" style="vertical-align:middle;border:0;margin:0 5px 4px 0;padding:0" />Follow @Aashay</a><br/>
              <a href="http://aashay.com" title="Aashay.com" class="">
                Visit my personal site
              </a>
              </div>
            </div>
            <div class="box clearfix clear minibody">
              <h4 class="">Here are my last 5 posts.</h4>
              <ul>                              
              {% for post in site.posts reversed limit:5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%b %d, %Y"  }}</li>
              {% endfor %}
              </ul>
            </div>                               
      </div>
                 
        
      <div id="footer" class="span-24 last prepend-top">
        <p><a href="/atom.xml" id="rss_feed" name="rss_feed">feed</a> |  <a href="http://github.com/AashayDesai/aashaydesai.github.com/" title="AashayDesai's aashaydesai.github.com &mdash; GitHub">source</a> | generated by <a href="http://github.com/mojombo/jekyll">jekyll</a></p>
      </div>
    </div>
    <a href="http://github.com/AashayDesai/aashaydesai.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  </body>
</html>
